name: Environment Up

on:
  push:
    branches: ["main"]
    paths:
      - '**/*'
      - '!infra/*/**'
  pull_request:
    types: [opened, synchronize]
    paths:
      - '**/*'
      - '!infra/*/**'

jobs:
  auth-service:
    uses: ./.github/workflows/serviceUp.yaml
    with:
      name: 'auth'

  web-app:
    name: Web app
    needs:
      - auth-service
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Cache turbo build setup
        uses: actions/cache@v3
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN }}
          role-session-name: DocsSession

      - name: Use Pulumi
        uses: pulumi/actions@v4

      - name: Set up Pulumi
        run: |
          pulumi login s3://rainbow-husky-pulumi-state

      - name: Release
        env:
          WWW_ARTIFACTS: ${{needs.auth-service.outputs.auth-service-function-name}}
          PULUMI_STATE_S3_BUCKET: rainbow-husky-pulumi-state
        run: |
          export PULUMI_CONFIG_PASSPHRASE=
          export PR_NUMBER=${{ github.event.pull_request.number }}
          yarn build --filter=@rainbow-husky/web-app-code
          yarn deploy --filter=@rainbow-husky/www-app-infra

#      - name: Test
#        run: yarn test